.item-wrapper {
    padding: 10px;
    text-align: center;
}

.fruit-item {
    margin: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}